@import "./Home/button.scss";
@import "./Home/hero.scss";
@import "./Dashboard/index.scss";
@import "./Common/Buttons.scss";

:root {
  --white: #fbfdff;
  --black: #363a42;
  --primary-color-light: #0044ff;
  --primary-color-dark: #2c0c93;
  --primary: #fbfdff;
  --grad-bg-light: #005eff;
  --grad-bg-Dark: #0a0034;

  --secondary-color-light: #24126d;
  --secondary-color-dark: rgba(28, 23, 71, 0.98);

  --red: red;
  --green: rgb(0, 221, 11);

  --bg-color-light: rgb(72, 0, 111);
  --bg-color-dark: #07051c;

  --secondary-overlay: rgba(36, 18, 110, 0.8);
  --whiteoverlay: rgba(251, 253, 255, 0.915);
  --formfield: rgb(234, 244, 255);
  --overlay: rgba(0, 10, 30, 0.9);
  --shadow: rgba(54, 62, 78, 0.3);
  --bluebg: rgba(242, 246, 255, 0.822);
  --disabled-color-dark: rgba(0, 0, 0, 0.12);
  --disabled-color-light: rgba(0, 0, 0, 0.26);

  background-color: var(--bg-color-dark);
  background-image: url(https://d3t91pxhqkzcch.cloudfront.net/noiretvLogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}
body::after {
  background-color: rgba(0, 13, 45, 0.899);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 33px;
}

h6 {
  font-size: 30px;
}

p {
  font-size: 16px;
  line-height: 1.1rem;
}

// a {
//   color: rgb(0, 64, 255);
//   cursor: pointer;
//   text-decoration: none;
// }

ul {
  list-style-type: none;
}

span {
  color: rgb(0, 64, 255);
  font-weight: 500;
}

.PhoneInputInput {
  outline: none;
}

.PhoneInput {
  display: flex !important;
}

.MuiButton-contained {
  background-color: var(--primary-color-dark) !important;
  color: var(--white) !important;
}

.MuiButton-contained:hover {
  background-color: var(--secondary-color-light) !important;
}

.MuiButton-contained:disabled {
  background-color: var(--disabled-color-dark) !important;
  color: var(--disabled-color-light) !important;
}
